.container-portfolio {
    width: 100%;
    min-height: 100vh;
}

.sections-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.btn-section {
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: 1rem;
    color: white;
}

.btn-section:hover {
    transition: .4s ease;
    border-bottom-color: skyblue;
    color: skyblue;
}