.container-portfolio {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    width: 90%;
    padding: 0 1rem;
}

.sections-bar {
    width: 25%;
    display: grid;
    gap: 4rem;
    justify-content: left;
}

.btn-section {
    text-align: left;
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    color: white;
}

.btn-section:hover {
    transition: .4s ease;
    border-bottom-color: white;
}